@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.landing-layout .phones-container {
  width: 382px;
  height: 596px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landing-layout .phones-container .screenshot {
  position: absolute;
  top: 26px;
  right: 27px;
  height: 511px;
  animation-duration: 1s;
}

.landing-layout .phones-container .screenshot.fadeIn {
  animation-name: fadeIn;
}

.landing-layout .phones-container .screenshot.fadeOut {
  animation-name: fadeOut;
}
