.landing-layout .phones-container {
  width: 382px;
  height: 596px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.landing-layout .carousel-root {
  position: absolute;
  top: 26px;
  right: 27px;
  max-width: 236px;
  height: 511px;
  z-index: 1;
}
.landing-layout .carousel-root .screenshot {
  width: 100%;
  height: 511px;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .landing-layout .phones-container {
    display: none;
  }
}
