.sidebar {
  border-right: 1px solid var(--gray-col);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 240px;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 100%;
}

.logout-link {
  margin-top: auto;
}

.sidebar-nav a {
  display: flex;
  color: #000;
  align-items: center;
  gap: 14px;
  padding: 14px;
  width: 100%;
  border-radius: 10px;
  transition: background-color 0.15s ease-in-out;
}
.nav-icon {
  transition: scale 0.15s ease-in-out;
}
.avatar-active {
  outline: 2px solid #000;
}
.sidebar-nav a.active {
  font-weight: 700;
}
.sidebar-nav a:hover {
  background-color: var(--gray-light-col);
}
.sidebar-nav a:hover .nav-icon {
  scale: 1.15;
}
.nav-label {
  font-size: var(--font-size-lg);
}

.sidebar-responsive-logo {
  display: none;
}

@media (max-width: 1024px) {
  .sidebar-logo {
    display: none;
  }
  .sidebar-responsive-logo {
    display: block;
    margin: auto;
  }
  .sidebar {
    min-width: auto;
  }
  .nav-label {
    display: none;
  }
}
