.authentication-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.authentication-card {
  border: 1px solid var(--gray-col);
  padding: 26px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.authentication-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  margin-bottom: 6px;
}

.authentication-form .loader-spinning {
  margin: auto;
}

.authentication-form .response-message {
  text-align: center;
  margin: 20px 0;
}

.authentication-card .logo {
  margin-top: 20px;
}

.phone-apps-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.phone-apps {
  display: flex;
  justify-content: space-around;
}
.phone-apps img {
  width: 136px;
  height: 42px;
  object-fit: contain;
}

.tos-info {
  margin-top: 6px;
  color: var(--muted-col);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.tos-info p,
.tos-info a {
  font-size: var(--font-size-xs);
  text-align: center;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .landing-layout .authentication-container {
    width: 350px;
    margin: auto;
  }
}
@media (max-width: 480px) {
  .landing-layout .authentication-container {
    width: auto;
    margin: auto;
  }
  .authentication-card {
    border: none;
    padding: 0;
  }
  .phone-apps {
    flex-wrap: wrap;
    gap: 10px;
  }
}
