.recommended-users {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: sticky;
  top: 20px;
  right: 0;
  height: min-content;
}

.recommended-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

@media (max-width: 1024px) {
  .recommended-users {
    width: auto;
  }
}

@media (max-width: 768px) {
  .recommended-users {
    position: static;
    max-width: 100%;
  }
}
